<!-- Artist Registration Form -->
<form>
    <div class="container">
      <div class="row">
       <p class="registration-text">REGISTRATION FORM</p>
      </div>
   </div>
   <div class="container">
      <div class="row">
        <div class="col-6 form-group">
         <input type="text" class="form-control" [(ngModel)]="artist.artistName"  [ngModelOptions]="{standalone:
          true}" name="artist.artistName"  placeholder="Artist/Band Name*" />
        </div>
        <div class="col-6 form-group">
          <input type="number" class="form-control" [(ngModel)]="artist.artistPhoneNumber"  [ngModelOptions]="{standalone:
            true}" name="artist.artistPhoneNumber" placeholder="Contact Number*"/>
        </div>
      </div>
      <div class="row">
       <div class="col-6 form-group">
        <input type="email" class="form-control" [(ngModel)]="artist.artistEmailID"  [ngModelOptions]="{standalone:
          true}" name="artist.artistEmailID" placeholder="Email ID*" />
       </div>
       <div class="col-6 form-group">
         <input type="text" class="form-control" [(ngModel)]="artist.artistAddress"  [ngModelOptions]="{standalone:
          true}" name="artist.artistAddress" placeholder="City*"/>
       </div>
     </div>
     <div class="row">
       <div class="col-6 form-group">
        <input type="password" class="form-control" [(ngModel)]="artist.artistPassword"  [ngModelOptions]="{standalone:
          true}" name="artist.artistPassword" placeholder="Password*" />
       </div>
       <div class="col-6 form-group">
         <select class="form-control" [(ngModel)]="artist.artistExperience"  [ngModelOptions]="{standalone:
          true}" name="artistExperience">
           <option selected disabled>Exprience</option>
           <option>0 To 1 Year</option>
           <option>1 To 5 Year</option>
           <option>More Then 5 Year</option>
         </select>
       </div>
     </div>
     <div class="row">
       <div class="col-6 form-group">
        <input type="password" class="form-control"placeholder="Confirm-Password*" />
       </div>
       <div class="col-6 form-group">
         <select class="form-control" [(ngModel)]="artist.artistCertification"  [ngModelOptions]="{standalone:
          true}" name="artist.artistCertification" >
           <option selected disabled>Any Certification*</option>
           <option>Yes</option>
           <option>No</option>
         </select>
       </div> 
     </div>
     <div class="row">
       <div class="col-6 form-group">
         <select class="form-control" [(ngModel)]="artist.artistGenre"  [ngModelOptions]="{standalone:
          true}" name="artist.artistGenre">
           <option selected disabled>Select Your category*</option>
           <option>Anchor/EMCC</option>
           <option>Singer(Solo)</option>
           <option>Dancer(Solo)</option>
           <option>Singer(Group)</option>
           <option>Dancer(Group)</option>
           <option>Instrumentalist</option>
           <option>Live Band</option>
           <option>Magician</option>
           <option>Poet</option>
           <option>Dj</option>
           <option>Ohter</option>
         </select>
       </div> 
       <div class="col-6 form-group">
         <input type="date" [(ngModel)]="artist.artistDob"  [ngModelOptions]="{standalone:
          true}" name="artist.artistDob" class="form-control" placeholder="Date Of Birth" onfocus="(this.type='date')"/>
       </div>
     </div>
     <div class="row">
       <div class="col-6 form-group">
         <input type="text" [(ngModel)]="artist.artistPicture"  [ngModelOptions]="{standalone:
          true}" name="artist.artistPicture" class="form-control"  placeholder="Profile Picture" onfocus="(this.type='file')"/>
       </div>
       <div class="col-6 form-group">
         <select class="form-control" [(ngModel)]="artist.prefWorkHours"  [ngModelOptions]="{standalone:
          true}"  name="artist.prefWorkHours">
           <option selected disabled>Preferd Working Hours*</option>
           <option>Moring</option>
           <option>Afternoon</option>
           <option>Evening</option>
           <option>Night</option>
           <option>After 12:00 PM</option>
         </select>
       </div>
     </div>
     <div class="row">
       <div class="col-6 form-check" style="margin-left: 16px;">
         <input class="form-check-input" type="checkbox"  id="Terms-condtion-checkbox">
         <label class="form-check-label">I Agree Terms and Conditions</label>
       </div>
     </div>
     <div class="row">
       <div class="form-group offset-11">
         <button type="submit" class="btn btn-dark" (click)="registerNow()" id="Submit-btn">SUBMIT</button>
       </div>
     </div>
    </div>
  </form>