<p>orderconfirmation works!</p>
{{result[0]}}
<form>
    <table>
        
        <tr >
            <!-- va <td> <input type="text" [(ngModel)]="o.id" [ngModelOptions]="{standalone:
                true}"lue="{{o.id}}"/></td> -->
            <td> <input type="text" [(ngModel)]="result[0]" [ngModelOptions]="{standalone:
                true}" disabled  value="{{result[0]}}"/></td>
         <td><input type="text"  [(ngModel)]="result[1]" [ngModelOptions]="{standalone:
            true}" disabled  value="{{result[1]}}"/></td>
         <td><input type="text" [(ngModel)]="result[2]" [ngModelOptions]="{standalone:
            true}" disabled  value="{{result[2]}}"/></td>
         <td><input type="text" [(ngModel)]="result[3]" [ngModelOptions]="{standalone:
            true}" disabled  value="{{result[3]}}"/></td>
         <td><input type="text"  [(ngModel)]="venue" [ngModelOptions]="{standalone:
            true}" placeholder="Enter venue"  /></td>
         <td><input type="text" [(ngModel)]="timeslot" [ngModelOptions]="{standalone:
            true}"  placeholder="Enter timeslot"/></td>

    <!--     
         <script>
          
         </script>   
         <td ><inpu type="hidden" id="img" value={{o.artist.artistPicture}}> -->
         <!-- //<img src="{{o.artist.artistPicture}}"/>  -->
    
        
            
             
             <td><input type="text" [(ngModel)]="udate" [ngModelOptions]="{standalone:
               true}"   value="{{udate}}"></td>
             <td><input type="submit" value="Book Now" (click)="orderNow(result[0],result[1],result[2],result[3],venue,timeslot,udate)"> </td> 
            </tr>
     </table>
    </form>