<p>welcomeartist works!</p>
<h1>{{artist.artistEmailID}}</h1>
<!-- <h1>Welcome {{artist.artistName}} </h1>
    <table border="1">
        <tr>
    <td>Artist Email ID:{{artist.artistEmailID}}</td>
    <td>Artist name:{{artist.artistName}}</td>
    
    <td>Artist name:{{artist.artistName}}</td>
    <td>Artist name:{{artist.artistPhoneNumber}}</td>
    <td>Artist name:{{artist.artistGenre}}</td>
    <td>Artist name:{{artist.artistAvailDays}}</td>
    <td>Artist name:{{artist.artistfees}}</td>
    <td>Artist name:{{artist.artistName}}</td>
    <td>Artist name:{{artist.artistCertification}}</td>
    <td>Artist name:{{artist.artistExperience}}</td>
    <td>Artist name:{{artist.artistAddress}}</td>
    <td>Artist name:{{artist.artistPassword}}</td>
    <td>Artist name:{{artist.artistDob}}</td>
    <td>Artist name:{{artist.prefWorkHours}}</td>
    <td>Artist name:{{artist.artistPicture}}</td>

</tr>
    

</table>  -->
<div>
        
  <button class="btn btn-danger">My Account</button>
</div>
<div>
        
  <button class="btn btn-danger" (click)="logoutNow()">Logout</button>
</div>
<form>
    <div class="container">
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="ex3">From</label>
        <input type="text" class="form-control" placeholder="Enter Date" [(ngModel)]="adddate.fromDate" name="adddate.fromDate" onfocus="(this.type='date')"/>
      </div>
      <div class="col-sm-3">
        <label for="ex3">To</label>
        <input type="text" class="form-control" placeholder="Enter Date" [(ngModel)]="adddate.toDate" name="adddate.toDate"onfocus="(this.type='date')"/>
      </div>
      
    </div>
  
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="ex3">Price</label>
        <input type="number" class="form-control"  [(ngModel)]="adddate.artistfees" name="adddate.artistfees"placeholder="Enter Price"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        
        <input type="submit"  class="btn btn-dark btn-block" (click)="addArtistDate(adddate.fromDate,adddate.toDate,adddate.artistfees)" value="Submit">
      </div>
    </div>
    </div>
    </form>
